{% extends 'base.html.twig' %}

{% block head %}
    <!doctype html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Wild Series</title>
    </head>
{% endblock %}
{% block body %}
    <body>
    <h1>{{ website }} index</h1>
    </body>
    </html>
{% endblock %}

