@import "~bootstrap/scss/bootstrap";
@import "variables";

body {
    background-color:#321758;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
